.example-card {
    max-width: 80%;
  }

  
.wrapper{
    width:60%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 60px 50px;
    background:#fff;
    border-radius:4px;
  }
  
  #stackCanvas{
    background:#fff;
    height:400px;
  }