
    <!-- Selecting Category -->
   
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Patient Name</mat-label>
        <input matInput [formControlName]="'name'">
        <mat-error *ngIf="patientAdmissionForm.get('name').hasError('required')">
            Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Patient Age</mat-label>
        <input matInput [formControlName]="'age'">
        <mat-error *ngIf="patientAdmissionForm.get('disease').hasError('required')">
            Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Disease of the patient</mat-label>
        <input matInput [formControlName]="'disease'">
        <mat-error *ngIf="patientAdmissionForm.get('disease').hasError('required')">
            Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Bed No</mat-label>
        <input matInput [formControlName]="'bed'">
        <mat-error *ngIf="patientAdmissionForm.get('disease').hasError('required')">
            Required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Textarea</mat-label>
        <textarea matInput [formControlName]="'note'" rows="10"></textarea>
        <mat-error>
            Please Write The Details
        </mat-error>
    </mat-form-field>

    <div>
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <button type="submit" mat-raised-button matStepperNext color="primary">Submit</button>
    </div>